<div class="l-container">
    <div class="c-footer__logo">
        <a href="/dashboard">
            <img src="/img/logo.png" alt="">
        </a>
    </div>
    <div class="c-footer__contact">
        <div class="address">
            <p><i class="fas fa-address-book"></i>Khu phố 6, Phường Linh Trung, Quận Thủ Đức, TP. HCM</p>
        </div>
        <div class="phone">
            <i class="fa fa-phone"></i><a href="tel:(08) 37244270">(08) 37244270</a>
        </div>
        <div class="email">
            <i class="fas fa-envelope"></i><a href="mailto:qhdn@hcmiu.edu.vn">qhdn@hcmiu.edu.vn</a>
        </div>
    </div>
</div>

<div class="c-footer__copy">
    <div class="l-container">
        <h2>Implement By: <span>Nguyen Hoang Bao Khanh</span> - ITITIU14045</h2>
    </div>
</div>