<div class="l-container">
    <h1 class="logo">
        <a href="/dashboard">
            <!-- <img src="/img/logo.png" alt=""> -->
            <div class="c-logo">
                <div class="c-logo__text">
                    <div class="c-logo__upper">
                        LIVE
                    </div>
                    <div class="c-logo__lower">
                        STREAM
                    </div>
                </div>
                <div class="c-logo__btn">
                    <i class="material-icons">
                        play_circle_filled
                    </i>
                </div>
            </div>
        </a>
    </h1>
    <div class="global-nav">
        <% for( var i = 0; i < data.length ; i++){%>
            <ul>
                <li>
                    <a href="/dashboard">
                        <i class="material-icons">
                            dashboard
                        </i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="/teacher/profile">
                        <i class="material-icons">
                            account_box
                        </i>
                        Profile
                    </a>
                </li>
                <li>
                    <a href="/users/logout">
                        <i class="material-icons">
                            input
                        </i>
                        Log Out
                    </a>
                </li>
            </ul>
        <% }; %>
    </div>
</div>