<div class="l-container">
    <h1 class="logo">
        <a href="/dashboard">
            <img src="/img/logo.png" alt="">
        </a>
    </h1>
    <div class="global-nav">
        <% for( var i = 0; i < data.length ; i++){%>
            <ul>
                <li>
                    <a href="/dashboard">
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="/teacher/profile">
                        Profile
                    </a>
                </li>
                <li>
                    <a href="/users/logout">
                        Log Out
                    </a>
                </li>
            </ul>
            <% }; %>
    </div>
</div>