<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/headTeacher %>
</head>

<body>

    <header class="c-header">
        <% include ./partials/headerTeacher %>
    </header>

    <main class="p-layout">
        <div class="l-container">
            <%- body %>
        </div>
    </main>

    <footer class="c-footer">
        <% include ./partials/footer %>
    </footer>

    <a href="#" class="back-to-top" id="myBtn">
        <span style="outline: none;">scroll to top</span> <i class="fas fa-long-arrow-alt-right" style="outline: none;"></i>
    </a>

</body>
<% include ./partials/scriptUser %>

</html>