<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/headTeacher %>
</head>

<body>

    <header class="c-header">
        <div class="l-container">
            <div class="c-header__open">
                <div class="c-header__1"></div>
                <div class="c-header__2"></div>
                <div class="c-header__3"></div>
            </div>
            <div class="c-gnav dropbtn">
                <% for( var i = 0; i < data.length ; i++){%>
                    <ul>
                        <li>
                            <a href="#_">
                            <img src="<%= data[i].userimage %>" alt=""/>
                        </a>
                            <div id="myDropdown" class="dropdown-content">
                                <ul>
                                    <li>
                                        <a href="/dashboard">
                                            <i class="fas fa-tachometer-alt"></i> DashBoard
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/teacher/profile">
                                            <i class="far fa-user"></i> My Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/users/logout">
                                            <i class="fas fa-power-off"></i> Log Out
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <%= data[i].username%>
                        </li>
                    </ul>
                    <% }; %>
            </div>
        </div>
    </header>

    <div class="sidenav">
        <ul>
            <li>
                <a href="/dashboard">
                    <img src="/img/logo.png" alt="" />
                </a>
            </li>
            <li>
                <a href="/dashboard">
                    DashBoard
                </a>
            </li>
            <li>
                <a href="/teacher/slide">
                    Upload Slide
                </a>
            </li>
            <li>
                <a href="#_">
                    Annoucement
                </a>
            </li>
            <li>
                <a href="/teacher/profile">
                    View Profile
                </a>
            </li>
        </ul>
    </div>

    <main class="c-teacher">
        <div class="l-container">
            <%- body %>
        </div>
    </main>

    <footer class="c-footer">
        <% include ./partials/footer %>
    </footer>

</body>

<script src="https://www.gstatic.com/firebasejs/5.5.6/firebase.js"></script>
<script src="/js/firebase.js"></script>
<script src="/js/common.js"></script>
<script src="/js/socket.js"></script>

</html>