<div class="c-stream">
    <% for(var i = 0; i< data1.length ; i++) { %>
        <input id="linkroom" type="hidden" value="<%= data1[i]._id %>" />
    <%}%>

    <div class="l-main">
        <div class="stream-video">
            <% for(var i = 0; i< data.length ; i++) { %>
                <input type="hidden" id="username" name="username" value="<%= data[i].fname %>" />
            <%}%>

            <video src="" id="video" style="width:100px;height:100px;background:#ccc;" autoplay="true"></video>
            <canvas style="display:none" id="preview"></canvas>
            <div id="logger"></div>
        </div>
        <!-- 
        <% for(var i = 0; i< data.length ; i++) { %>
            <iframe src="https://player.twitch.tv/?channel=<%= data[i].channelLink %>" frameborder="0" allowfullscreen="true" scrolling="no" style="width:100%;height:320px;background:#cfcfcf;" frameborder="0"></iframe> 
        <%}%>
        -->
    </div>
    <div class="l-side">
        <h4 id="roomHienTai">...</h4>

        <div class="c-stream__chat">
            <div class="c-stream__contentChat" id="right">
                <ul>
                    
                </ul>
            </div>
            <div class="c-stream__box">
                <input type="text" id="txtMessage" />
                <input type="button" id="btnChat" value="Chat" />
            </div>
        </div>
    </div>

</div>


<script type="text/javascript">

    var canvas = document.getElementById("preview");
    var context = canvas.getContext("2d");

    canvas.width = 800;
    canvas.height = 600;

    context.height = canvas.height;
    context.width = canvas.width;

    var video = document.getElementById("video");

    var socket = io();

    function looger(msg) {
        $("#logger").text(msg);
    }

    function loadCam(stream) {
        video.srcObject = stream;
        logger("Camera is connected");
    }

    function loadFail() {
        logger("Camera can not connect!");
    }

    function viewVideo() {
        context.drawImage(video, 0, 0, context.width, context.height);
        socket.emit('stream', canvas.toDataURL('image/webp'));
    }

    $(function() {
        navigator.getUserMedia = (navigator.getUserMedia ||
            navigator.webkitGetUserMedia ||
            navigator.mozGetUserMedia ||
            navigator.msgGetUserMedia);
        if (navigator.getUserMedia) {
            navigator.getUserMedia({
                video: true,
                audio: true
            }, loadCam, loadFail);
        }
        setInterval(function() {
            viewVideo(video, context);
        }, 70);
    });
</script>