<% for(var i = 0; i< data1.length ; i++) { %>
    <input id="linkroom" type="hidden" style="width:400px;" value="<%= data1[i]._id %>" />
<%}%>
<% for(var i = 0; i< data.length ; i++) { %>
    <input type="hidden" id="username" name="username" value="<%= data[i].fname %>" />
<%}%>

<div class="title1">
    <h4>Live Lesson</h4>
</div>
<div class="c-stream">

    <div class="c-stream__upper">

        <div class="l-main">
            <div class="c-stream__webcam">
                <img src="" alt="" id="play">
                <div id="logger" style="display:none"></div>
            </div>

            <% for(var i = 0; i< data2.length ; i++) { %>
                <iframe src="https://player.twitch.tv/?channel=<%= data2[i].channelLink %>" frameborder="0" allowfullscreen="true" scrolling="no" frameborder="0"></iframe>
            <%}%>
        </div>

        <div class="l-side">
            <h4 id="currentRoom">...</h4>

            <div class="c-stream__chat">
                <div class="title3">
                    <p>Chat Box</p>
                </div>
                <div class="c-stream__contentChat" id="right">
                    <ul>

                    </ul>
                </div>
                <div class="c-stream__btn">
                    <input type="text" id="txtMessage" />
                    <input type="button" id="btnChat" value="Chat" />
                </div>
            </div>
        </div>

    </div>

    <div class="c-stream__lower">
    
        <div class="l-main">
            <div class="c-stream__upload">
                <div class="title2">
                    <h4>Slides</h4>
                </div>
                <div class="c-stream__slidebox">

                    <div class="c-stream__slideright">
                        <input type="text" value="" id="progress" />
                        <% for(var i = 0; i< data1.length ; i++) { %>
                            <a href="/teacher/showSlide/<%= data1[i]._id; %>" class="btn1 btn1--color3" id="btnGetFiles2">
                                <i class="material-icons">
                                    file_copy
                                </i>
                                Files
                            </a>
                        <%}%>

                        <div class="c-files__file" id="listFiles2">
                            <ul>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="l-side">
            <div class="c-stream__users">
                <div class="title2">
                    <h4>Online Users</h4>
                    <div id="users"></div>
                </div>
                <div>
                    <div id="conversation"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    var socket = io();
    socket.on('stream', function(data) {
        var img = document.getElementById("play");
        img.src = data;
    });
</script>