<% for(var i = 0; i< data1.length ; i++) { %>
    <input id="linkroom" type="hidden" style="width:400px;" value="<%= data1[i]._id %>" />
    <%}%>
        <% for(var i = 0; i< data.length ; i++) { %>
            <input type="hidden" id="username" name="username" value="<%= data[i].fname %>" />
            <%}%>

                <div class="title1">
                    <h4>Live Lesson</h4>
                </div>
                <div class="c-stream">
                    <div class="l-main">

                        <div class="stream-video">
                            <img src="" alt="" id="play">
                            <div id="logger" style="display:none"></div>
                        </div>
                        <% for(var i = 0; i< data2.length ; i++) { %>
                            <iframe src="https://player.twitch.tv/?channel=<%= data2[i].channelLink %>" frameborder="0" allowfullscreen="true" scrolling="no" style="width:100%;height:320px;background:#cfcfcf;" frameborder="0"></iframe>
                            <%}%>
                                <div style="float:left;width:100px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;">
                                    <b>Thành viên</b>
                                    <div id="users"></div>
                                </div>
                                <div style="float:left;width:300px;height:250px;overflow:scroll-y;padding:10px;">
                                    <div id="conversation"></div>
                                </div>
                    </div>
                    <div class="l-side">
                        <h4 id="currentRoom">...</h4>

                        <div class="c-stream__chat">
                            <div class="c-stream__contentChat" id="right">
                                <ul>

                                </ul>
                            </div>
                            <div class="c-stream__box">
                                <input type="text" id="txtMessage" />
                                <input type="button" id="btnChat" value="Chat" />
                            </div>
                        </div>
                    </div>
                </div>



                <div class="c-student__slide">
                    <div class="title1">
                        <h4>SLide</h4>
                        <% for(var i = 0; i< data1.length ; i++) { %>
                            <a href="/teacher/showSlide/<%= data1[i]._id; %>" class="btn1 btn1--color3 ml-10" id="btnGetFiles2">Files</a>
                            <%}%>
                    </div>
                    <div class="c-student__slideContent">

                        <div class="c-files__file" id="listFiles2">
                            <ul>

                            </ul>
                        </div>
                    </div>
                </div>

                <script>
                    var socket = io();
                    socket.on('stream', function(data) {
                        var img = document.getElementById("play");
                        img.src = data;
                    });
                </script>